*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE / Metals
.metals
.vscode
.bloop

# sbt
target/
project/target/
project/project/
project/metals.sbt
